define host{
        use                     linux-server
        host_name               nuv.la
        alias                   slipstream-sixsq
        address                 185.19.28.68
        #address                 54.220.0.118
        }

# Remote checks
define service{
        use                             local-service
        host_name                       nuv.la
        service_description             SSH
        check_command                   check_ssh
        }

define service{
        use                             local-service
        host_name                       nuv.la
        service_description             HTTPS
        check_command                   check_https_ss
        }

define service{
        use                             local-service
        host_name                       nuv.la
        service_description             HTTPS_AUTH
        check_command                   check_https_auth!$USER3$!$USER3$!$USER5$
        }

define service{
        use                             local-service
        host_name                       nuv.la
        service_description             host_cert
        check_command                   check_host_cert_sni
        }

define service{
        use                             local-service
        host_name                       nuv.la
        service_description             NRPE_5666
        check_command                   check_tcp!5666
        notifications_enabled		1
        }

define service{
        use                             local-service
        host_name                       nuv.la
        service_description             exoscale-images
        check_command                   check_cloudstack_images!$USER6$!$USER7$!https!api.exoscale.ch!/compute!aa69ae64-1ea9-40af-8824-c2c3344e8d7c,a1cba6a3-ce4e-479b-8589-313e1f3cb188,0d732f4f-d4f1-49ce-b4d1-905de65d06a8
        check_interval                  2
        notification_interval           15
        }

define service{
        use                             ss-exec-service
        host_name                       nuv.la
        service_description             ss-exec_open-telekom-de1
        check_command                   ss_exec-service-testing!$USER3$!$USER5$!open-telekom-de1
        # check_period                   timeperiod_name  # http://nagios.sourceforge.net/docs/3_0/objectdefinitions.html#timeperiod
        servicegroups                   ss-execute
        }

define service{
        use                             ss-exec-service
        host_name                       nuv.la
        service_description             ss-exec_ec2-eu-west
        check_command                   ss_exec-service-testing!$USER3$!$USER5$!ec2-eu-west
        # check_period                   timeperiod_name  # http://nagios.sourceforge.net/docs/3_0/objectdefinitions.html#timeperiod
        servicegroups                   ss-execute
        }

define service{
        use                             ss-exec-service
        host_name                       nuv.la
        service_description             ss-exec_exoscale-ch-gva
        check_command                   ss_exec-service-testing!$USER3$!$USER5$!exoscale-ch-gva
        # check_period                   timeperiod_name  # http://nagios.sourceforge.net/docs/3_0/objectdefinitions.html#timeperiod
        servicegroups                   ss-execute
        }

define service{
        use                             ss-exec-service
        host_name                       nuv.la
        service_description             ss-exec_exoscale-ch-dk
        check_command                   ss_exec-service-testing!$USER3$!$USER5$!exoscale-ch-dk
        # check_period                   timeperiod_name  # http://nagios.sourceforge.net/docs/3_0/objectdefinitions.html#timeperiod
        servicegroups                   ss-execute
        }

define service{
        use                             ss-exec-service
        host_name                       nuv.la
        service_description             ss-exec_atos-es1
        check_command                   ss_exec-service-testing!$USER3$!$USER4$!atos-es1
        # check_period                   timeperiod_name  # http://nagios.sourceforge.net/docs/3_0/objectdefinitions.html#timeperiod
        servicegroups                   ss-execute
        }

define service{
        use                             ss-exec-service
        host_name                       nuv.la
        service_description             ss-exec_teidehpc-es-tfs1
        check_command                   ss_exec-service-testing!$USER3$!$USER4$!teidehpc-es-tfs1
        # check_period                   timeperiod_name  # http://nagios.sourceforge.net/docs/3_0/objectdefinitions.html#timeperiod
        servicegroups                   ss-execute
        }

define service{
        use                             ss-exec-service
        host_name                       nuv.la
        service_description             ss-exec_cyclone-fr2
        check_command                   ss_exec-service-testing!$USER3$!$USER5$!cyclone-fr2
        # check_period                   timeperiod_name  # http://nagios.sourceforge.net/docs/3_0/objectdefinitions.html#timeperiod
        servicegroups                   ss-execute
        }

define service{
        use                             ss-exec-service
        host_name                       nuv.la
        service_description             ss-exec_cyfronet-pl1
        check_command                   ss_exec-service-testing!$USER3$!$USER5$!cyfronet-pl1
        # check_period                   timeperiod_name  # http://nagios.sourceforge.net/docs/3_0/objectdefinitions.html#timeperiod
        servicegroups                   ss-execute
        }

define service{
        use                             ss-exec-service
        host_name                       nuv.la
        service_description             ss-exec_ec2-ap-northeast-1
        check_command                   ss_exec-service-testing!$USER3$!$USER5$!ec2-ap-northeast-1
        # check_period                   timeperiod_name  # http://nagios.sourceforge.net/docs/3_0/objectdefinitions.html#timeperiod
        servicegroups                   ss-execute
        }

define service{
        use                             ss-exec-service
        host_name                       nuv.la
        service_description             ss-exec_ec2-ap-southeast-1
        check_command                   ss_exec-service-testing!$USER3$!$USER5$!ec2-ap-southeast-1
        # check_period                   timeperiod_name  # http://nagios.sourceforge.net/docs/3_0/objectdefinitions.html#timeperiod
        servicegroups                   ss-execute
        }

define service{
        use                             ss-exec-service
        host_name                       nuv.la
        service_description             ss-exec_ec2-ap-southeast-2
        check_command                   ss_exec-service-testing!$USER3$!$USER5$!ec2-ap-southeast-2
        # check_period                   timeperiod_name  # http://nagios.sourceforge.net/docs/3_0/objectdefinitions.html#timeperiod
        servicegroups                   ss-execute
        }

define service{
        use                             ss-exec-service
        host_name                       nuv.la
        service_description             ss-exec_ec2-eu-central-1
        check_command                   ss_exec-service-testing!$USER3$!$USER5$!ec2-eu-central-1
        # check_period                   timeperiod_name  # http://nagios.sourceforge.net/docs/3_0/objectdefinitions.html#timeperiod
        servicegroups                   ss-execute
        }

define service{
        use                             ss-exec-service
        host_name                       nuv.la
        service_description             ss-exec_ec2-sa-east-1
        check_command                   ss_exec-service-testing!$USER3$!$USER5$!ec2-sa-east-1
        # check_period                   timeperiod_name  # http://nagios.sourceforge.net/docs/3_0/objectdefinitions.html#timeperiod
        servicegroups                   ss-execute
        }

define service{
        use                             ss-exec-service
        host_name                       nuv.la
        service_description             ss-exec_ec2-us-east-1
        check_command                   ss_exec-service-testing!$USER3$!$USER5$!ec2-us-east-1
        # check_period                   timeperiod_name  # http://nagios.sourceforge.net/docs/3_0/objectdefinitions.html#timeperiod
        servicegroups                   ss-execute
        }

define service{
        use                             ss-exec-service
        host_name                       nuv.la
        service_description             ss-exec_ec2-us-west-1
        check_command                   ss_exec-service-testing!$USER3$!$USER5$!ec2-us-west-1
        # check_period                   timeperiod_name  # http://nagios.sourceforge.net/docs/3_0/objectdefinitions.html#timeperiod
        servicegroups                   ss-execute
        }

define service{
        use                             ss-exec-service
        host_name                       nuv.la
        service_description             ss-exec_ec2-us-west-2
        check_command                   ss_exec-service-testing!$USER3$!$USER5$!ec2-us-west-2
        # check_period                   timeperiod_name  # http://nagios.sourceforge.net/docs/3_0/objectdefinitions.html#timeperiod
        servicegroups                   ss-execute
        }

define service{
        use                             ss-exec-service
        host_name                       nuv.la
        service_description             ss-exec_ultimum-cz1
        check_command                   ss_exec-service-testing!$USER3$!$USER5$!ultimum-cz1
        # check_period                   timeperiod_name  # http://nagios.sourceforge.net/docs/3_0/objectdefinitions.html#timeperiod
        servicegroups                   ss-execute
        }

define service{
        use                             ss-exec-service
        host_name                       nuv.la
        service_description             ss-exec_ifb-core-pilot
        check_command                   ss_exec-service-testing!$USER3$!$USER5$!ifb-core-pilot
        # check_period                   timeperiod_name  # http://nagios.sourceforge.net/docs/3_0/objectdefinitions.html#timeperiod
        servicegroups                   ss-execute
        }

# NRPE
define service {
        use generic-nrpe
        host_name nuv.la
        service_description CHECK_ROOTPART
        check_command check_nrpe!check_rootpart
        notifications_enabled		        1
}

define service {
        use generic-nrpe
        host_name nuv.la
        service_description HSQLDB
        normal_check_interval 1
        check_command check_nrpe!check_hsqldb
        notifications_enabled		        1
}

define service {
        use generic-nrpe
        host_name nuv.la
        service_description Current Load
        check_command check_nrpe!check_load
        notifications_enabled		        1
}

define service {
        use generic-nrpe
        host_name nuv.la
        service_description Check Backup
        check_command check_nrpe!check_slipstream_backup -t 300
        check_interval 240
}

define service {
        use generic-nrpe
        host_name nuv.la
        service_description check_mem
        check_command check_nrpe_mem!10!5
}

