#
# This server proxies the local SlipStream service (running on a
# local port on HTTP).  All of the SSL security configuration is
# handled by nginx.
#

server {
    listen 443 ssl;

    charset utf-8;

    ssl_certificate /etc/nginx/ssl/server.crt;
    ssl_certificate_key /etc/nginx/ssl/server.key;

    # Tells browsers to ONLY connect via HTTPS to SlipStream.
    # The timeout is set to 1 year, which is reset with each visit.
    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";

    location / {
        proxy_pass http://127.0.0.1:8182;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        # The buffering must be turned off to avoid a bug in earlier
        # versions of nginx that caused extremely long response times.
        # (NOTE: the default version of nginx for CentOS 6 has this
        # problem!)
        proxy_buffering off;

        # The redirects between HTTP and HTTPS are not needed as the
        # server now consistently returns the scheme passed in the
        # X-Forwarded-Proto header.
        proxy_redirect off;
        #proxy_redirect http://$host/ https://$host/;
    }

    # Serve SS bootstrap and clients tarballs directly by nginx.
    location /downloads/ {
        root /opt/slipstream;
    }

    # Serve all static contents directly by nginx.
    location ~ /(images|external|css|js|font|html|pdf|epub)/ {
        root  /opt/slipstream/server/webapps/slipstream.war/static-content;
    }

}
